<main class="d-flex" style="margin-top: 50px">
  <!-- Sidebar -->
  <div class="d-flex flex-column flex-shrink-0 p-3 custom-sidebar" style="width: 350px; position: fixed; height: 100vh;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Your Library</span>
    </a>
    <hr>

    <!-- Create New Playlist Section (First Half) -->
    <div class="d-flex flex-column justify-content-between" style="flex-grow: 1;">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link active" aria-current="page" [routerLink]="['/playlists']">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#playlist"></use></svg>
            Create playlist
          </a>
        </li>
      </ul>

      </div>

    <hr>

    <!-- Your Favorite Playlist Section (Second Half) -->
    <div class="d-flex flex-column justify-content-between" style="flex-grow: 1;">
      <ul class="nav nav-pills flex-column mb-auto">
        <li>
          <a href="#" class="nav-link">
            <svg class="bi pe-none me-2" width="16" height="16">
              <use xlink:href="#people-circle"></use>
            </svg>
            Your favorite playlist
          </a>
          <!-- Nested section for individual playlists -->
          <ul class="nav flex-column ms-3">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <svg class="bi pe-none me-2" width="16" height="16">
                  <use xlink:href="#music-note"></use>
                </svg>
                Playlist 1
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <svg class="bi pe-none me-2" width="16" height="16">
                  <use xlink:href="#music-note"></use>
                </svg>
                Playlist 2
              </a>
            </li>
            <!-- Add more nested playlists as needed -->
          </ul>
        </li>
      </ul>
    </div>


    <hr>

    </div>
</main>
