<main class="content-area flex-grow-1 p-3" style="margin-left: 350px; margin-top: 200px;">
  <form class="p-4 shadow-sm" style="background-color: #FAA275; border-radius: 8px; max-width: 400px; margin: auto;">
    <h3 class="text-center mb-4" style="color: #5C374C;">Log in</h3>

    <div class="form-group mb-3">
      <input
        class="form-control"
        type="text"
        name="username"
        placeholder="Username"
        [(ngModel)]="loginUser.username"
        style="border-color: #5C374C; color: #5C374C;"
        required
      >
    </div>

    <div class="form-group mb-4">
      <input
        class="form-control"
        type="password"
        name="password"
        placeholder="Password"
        [(ngModel)]="loginUser.password"
        style="border-color: #5C374C; color: #5C374C;"
        required
      >
    </div>

    <input
      class="btn btn-block"
      style="background-color: #CE6A85; color: white; width: 100%;"
      (click)="login(loginUser)"
      type="submit"
      value="Log in"
    >
  </form>
</main>
