<!-- <main class="content-area flex-grow-1 p-3" style="margin-left: 350px; margin-top: 0px">
<div class="club-detail">
  <h2>{{ club.name }} Club Details</h2>

  <div class="members">
    <h3>Members</h3>
    <ul>
      <li *ngFor="let member of club.members">{{ member.name }}</li>
    </ul>
  </div>

  <div class="playlists">
    <h3>Playlists</h3>
    <ul>
      <li *ngFor="let playlist of club.playlists">{{ playlist.name }}</li>
    </ul>
  </div>

  <div class="add-playlist">
    <h3>Add a New Playlist</h3>
    <form (ngSubmit)="addPlaylist()">
      <div>
        <label for="playlistName">Playlist Name</label>
        <input type="text" id="playlistName" [(ngModel)]="newPlaylist.name" name="name" required>
      </div>
      <button type="submit">Add Playlist</button>
    </form>
  </div>
</div>
</main> -->
