
<div *ngIf="!isLoggedIn()">
  <app-login></app-login>
  </div>

<main class="content-area flex-grow-1 p-3" style="margin-left: 350px;">

  <div *ngIf="isLoggedIn()">
    <!-- Add Media Form -->
    <form (ngSubmit)="addMedia(newMedia)" #addForm="ngForm">
      <div class="form-group mb-3">
        <label for="name" class="form-label" style="color: #5C374C;">Name:</label>
        <input
          type="text"
          id="name"
          [(ngModel)]="newMedia.name"
          name="name"
          class="form-control"
          style="border-color: #5C374C; color: #5C374C;"
          placeholder="Enter media name"
          required
        />
      </div>
      <div class="form-group mb-4">
        <label for="description" class="form-label" style="color: #5C374C;">Description:</label>
        <input
          type="text"
          id="description"
          [(ngModel)]="newMedia.description"
          name="description"
          class="form-control"
          style="border-color: #5C374C; color: #5C374C;"
          placeholder="Enter media description"
          required
        />
      </div>
      <div class="form-group mb-4">
        <label for="imageUrl" class="form-label" style="color: #5C374C;">Source URL:</label>
        <input
          type="text"
          id="imageUrl"
          [(ngModel)]="newMedia.sourceUrl"
          name="imageUrl"
          class="form-control"
          style="border-color: #5C374C; color: #5C374C;"
          placeholder="Enter media URL"
          required
        />
      </div>
      <div class="text-center">
        <button type="submit" class="btn" style="background-color: #CE6A85; color: white;">
          Add Media
        </button>
      </div>
    </form>


<hr>
  <div class="card-body" style="background-color: #FAA275;">
    <h3 class="text-center" style="color: #5C374C;">Saved Media</h3>
    <table class="table table-hover" style="background-color: #fff; border-radius: 5px;">
      <thead class="thead-dark" style="background-color: #FF8C61; color: white;">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let media of mediaList" >
          <td><iframe width="460" height="215" [src]="sanitizeUrl(media.sourceUrl)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></td>
          <td>{{ media.name }}</td>
          <td>{{ media.createdAt }}</td>
          <td>{{ media.updatedAt }}</td>
          <td>{{ media.description }}</td>
          <td>
            <button type="button" class="btn btn-sm" style="background-color: #CE6A85; color: white;" (click)="findMediaById(media.id)">Edit</button>
            <button type="button" class="btn btn-sm" style="background-color: #FF8C61; color: white;" (click)="deleteMedia(media.id)">Delete</button>
            <button type="button" class="btn btn-sm" style="background-color: #985277; color: white;" (click)="open(playlistModal, media)">Add to Playlist</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<!-- MODAL START -->
<ng-template #playlistModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add to Playlist</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form #choosePlaylistForm="ngForm">
      <div class="mb-3">
        <label for="playlistSelect">Please select a playlist:</label>
        <div class="input-group">
          <select name="playlist" id="playlistSelect" ngModel class="form-select">
            <option *ngFor="let playlist of playlists" value="{{playlist.id}}">{{playlist.name}}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="submitAddToPlaylist(choosePlaylistForm, playlistModal)">Save</button>
      </div>
    </form>
  </div>
</ng-template>
<!-- MODAL END -->

<div>
  <!-- Update Media Form -->
  <form *ngIf="selected" (ngSubmit)="updateMedia(selected)" #updateForm="ngForm">
    <div class="form-group">
      <label for="editName">Edit Name:</label>
      <input type="text" id="editName" [(ngModel)]="selected.name" name="editName" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="editDescription">Edit Description:</label>
      <input type="text" id="editDescription" [(ngModel)]="selected.description" name="editDescription" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="editImageUrl">Edit Source URL:</label>
      <input type="text" id="editImageUrl" [(ngModel)]="selected.sourceUrl" name="editImageUrl" class="form-control" required />
    </div>
    <button type="submit" class="btn" style="background-color: #CE6A85; color: white;">Update Media</button>
    <button type="button" (click)="selected = null" class="btn btn-secondary">Cancel</button>
  </form>
</div>

<div *ngIf="selected">

</div>
</div>
</main>
