<div *ngIf="!isLoggedIn()">
  <app-login></app-login>
  </div>

  <div *ngIf="isLoggedIn()">
    <main class="content-area flex-grow-1 p-3" style="margin-left: 350px; margin-top: 20px">
<div *ngIf="!selected">
      <!-- Button to toggle form visibility -->
  <div class="text-center mb-4" >
    <button class="btn" style="background-color: #CE6A85; color: white;" (click)="showForm = !showForm">
      Create New Club
    </button>
  </div>

  <!-- Add New Playlist Form (Initially hidden) -->
  <div class="card shadow p-4 mb-5 bg-white rounded" *ngIf="showForm">
    <h2 class="mb-4 text-center" style="color: #5C374C;">Add New club</h2>

    <form #addForm="ngForm">
      <div class="form-group mb-3">
        <label for="name" class="form-label">Name:</label>
        <input
          type="text"
          id="name"
          [(ngModel)]="newClub.name"
          name="name"
          class="form-control"
          placeholder="Enter playlist name"
          required
        />
      </div>

      <div class="form-group mb-3">
        <label for="description" class="form-label">Description:</label>
        <input
          type="text"
          id="description"
          [(ngModel)]="newClub.description"
          name="description"
          class="form-control"
          placeholder="Enter playlist description"
          required
        />
      </div>

      <div class="form-group mb-4">
        <label for="imageUrl" class="form-label">Image URL:</label>
        <input
          type="text"
          id="imageUrl"
          [(ngModel)]="newClub.imageUrl"
          name="imageUrl"
          class="form-control"
          placeholder="Enter image URL"
          required
        />
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary px-5 py-2" [disabled]="addForm.invalid" (click)="addClub(newClub)">
          Create Club
        </button>
      </div>
    </form>
  </div>




      <!-- Clubs Cards Section -->
<div class="album py-5 container-fluid" style="background-color: #F5F5F5;">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    <div class="col" *ngFor="let club of clubs">
      <div class="card shadow-sm" style="border-color: #FF8C61;">
        <img
          class="card-img-top"
          [src]="club.imageUrl"
          alt="{{ club.name }}"
          style="width: 100%; height: 225px; object-fit: cover;"


        />
        <div class="card-body" style="background-color: #FAA275;">
          <h5 class="card-title" style="color: #5C374C;" (click)="selectedClub(club)">{{ club.name }}</h5>
          <p class="card-text" style="color: #985277;">{{ club.description }}</p>
          <small class="text-body-secondary">Created by: {{ club.user.username }}</small>
          <br>
          <small class="text-body-secondary">{{ club.createdAt | date: 'mediumDate' }}</small>

          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm" [ngClass]="{'btn-success': isJoined(club),
              'btn-outline-secondary': !isJoined(club)}"
              (click)="isJoined(club) ? leaveClub(club) : joinClub(club.id)">
              {{ isJoined(club) ? 'Joined' : 'Join club' }}
            </button>


            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div *ngIf="selected">
  <p>{{selected.name}}</p>
  <div class="club-detail">
    <h2>{{ selected.name }} Club Details</h2>

    <div class="members">
      <h3>Members</h3>
      <ul>
        <li *ngFor="let member of selected.clubUsers">{{ member.username }}</li>
      </ul>
    </div>
  </div>


  <div class="playlists">
    <h3>Playlists</h3>
    <ul>
      <li *ngFor="let playlist of selected.clubPlaylists">{{ playlist.name }}</li>
    </ul>
  </div>

<!-- Adding Playllists to the club -->
  <div>
    <label for="playlistSelect">Select Playlist to Add:</label>
    <select [(ngModel)]="selectedPlaylistId">
      <option *ngFor="let playlist of getAvailablePlaylists()" [value]="playlist.id">
        {{ playlist.name }}
      </option>
    </select>
    <button (click)="addPlaylistToClub()">Add playlist to the club</button>

    <p *ngIf="getAvailablePlaylists().length === 0">All playlists are already added to this club.</p>
  </div>




  <button class="btn btn-outline-danger" (click)="selected=null">Back</button>

</div>
</main>
</div>

