<main class="content-area flex-grow-1 p-3" style="margin-left: 350px;">
  <form class="p-4 shadow-sm" style="background-color: #FAA275; border-radius: 8px; max-width: 400px; margin: auto;">
    <h3 class="text-center mb-4" style="color: #5C374C;">Register</h3>

    <div class="form-group mb-4">
      <input
        class="form-control"
        type="text"
        name="username"
        placeholder="Username"
        [(ngModel)]="newUser.username"
        style="border-color: #5C374C; color: #5C374C;"
        required
      />
    </div>

    <div class="form-group mb-4">
      <input
        class="form-control"
        type="password"
        name="password"
        placeholder="Password"
        [(ngModel)]="newUser.password"
        style="border-color: #5C374C; color: #5C374C;"
        required
      />
    </div>

    <div class="form-group mb-4">
      <textarea
        class="form-control"
        type="text"
        name="bio"
        placeholder="Biography"
        [(ngModel)]="newUser.biography"
        style="border-color: #5C374C; color: #5C374C;"></textarea>

    </div>

    <div class="form-group mb-3">
      <label for="editPublished" class="form-label" style="color: #5C374C;">Role:</label>
      <select
          id="editPublished"
          [(ngModel)]="newUser.role"
          name="editPublished"
          class="form-control"
          style="border-color: #5C374C; color: #5C374C;"
          required
      >
          <option [ngValue]=" 'curator'">Curator</option>
          <option [ngValue]="'general'">General</option>
      </select>
  </div>


    <input
      class="btn btn-block"
      style="background-color: #CE6A85; color: white; width: 100%;"
      (click)="register(newUser)"
      type="submit"
      value="Register"
    />
  </form>
</main>
