<nav class="navbar navbar-expand-lg custom-navbar fixed-top">
  <div class="container-fluid">
    <!-- Logo and Home -->
    <a class="navbar-brand" [routerLink]="['/home']">
      <img src="assets/ReelSync_transparent- copy.png" height="40" width="80" class="d-inline-block align-text-top">
    </a>

    <!-- Navbar toggle button for mobile view -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]='isCollapsed'>
      <!-- Left-aligned links -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/playlists']">Playlists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/media']">Media</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/clubs']">Clubs</a>
        </li>
      </ul>

      <!-- Right-aligned links (Login/Logout/Register) -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="isLoggedIn()">
          <app-logout></app-logout>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" [routerLink]="['/login']">Log in</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
